streamlit==1.32.0
langchain==0.1.17
langchain-community==0.0.36   # 또는 0.0.40 등 0.0.36 이상, 0.1 미만
langserve==0.0.45
faiss-cpu==1.7.4
unstructured==0.12.4
sentence-transformers==2.5.1
pandas==2.0.3
numpy==1.24.3
scikit-learn==1.3.0
plotly==5.22.0
